
.baseFrame{
    min-width: 1200px;
    /* padding: 5px 5px; */
    min-height:720px;
    margin: 0 auto;
}
.nav{
    width: 100%;
    height:8%;
    padding:22px 12px;
    text-shadow: 2px 3px 4px rgb(193, 202, 193);
    -webkit-box-shadow: inset -6px 2px 48px 20px #ccc;
    -moz-box-shadow: inset -6px 2px 48px 20px #ccc;
    -ms-box-shadow: inset -6px 2px 48px 20px #ccc;
    box-shadow: inset -6px 2px 48px 20px #ccc;
    
}
/* .nav img{
    width:55px;
    height:55px;
} */
.container{
    width:100%;
    height:92%;
    font-size: 13px;
}
.aside{
    float: left;
    width:11%;
    height:100%;
    
}
.aside .userInfo{
    width:100%;
    height:6%;
    /* line-height: 28px; */
    padding:15px 10px;
    background: #ccc;
    /* -webkit-box-shadow: inset -1px 6px 44px 32px #ccc;
    box-shadow: inset -1px 6px 44px 32px #ccc; */
}

.aside .menu{
    width:100%;
    height:93%;
    padding: 5px;
    -webkit-box-shadow: inset 0px -16px 120px 19px #ccc;
    box-shadow: inset 0px -16px 120px 19px #ccc;
    overflow: auto;
}
.r-aside{
    float: left;
    width:89%;
    height:100%;
}
.r-aside .path{
    width:100%;
    height:6%;
    padding: 15px 10px;
    /* -webkit-box-shadow: inset 0px -2px 20px 15px #ccc;
    box-shadow: inset 0px -2px 20px 15px #ccc; */
    background: #ccc;
}
.r-aside .login-out{
    margin-right: 15px;
}
.r-aside .login-out a{
    color: #800000;
}
.r-aside .login-out a:hover{
    text-decoration: none;
}
.r-aside .login-out span{
    margin-left:20px;
    color: #000;
}
.r-aside .login-out span:hover{
    cursor: default;
    text-decoration: none;
}
.r-aside .content{
    width:100%;
    height:94%;
    padding: 5px;
}
/*
*底部版权声明
*/
/* .foot{
    clear: both;
    width: 100%;
    padding: 4px;
    text-align: center;
    -webkit-box-shadow: inset 0px -2px 33px 15px #ccc;
    box-shadow: inset 0px -2px 33px 15px #ccc;
} */
.path a:hover{
    text-decoration: underline;
}
.path label{
    display: none;
}
.aside .userInfo a , .path span{
    color:#1090e6;
}
.aside .userInfo a:hover, .path span:hover{
    text-decoration: underline;
}


