﻿body{
    min-width: 1200px !important;
    /* padding: 5px 5px; */
    min-height:720px !important;
}
.baseFrame{
    min-width: 1400px !important;
    /* padding: 5px 5px; */
    min-height:900px !important;
    margin: 0 auto;
}
.nav{
    width: 100%;
    height:calc(100vh*0.107);
    height:10.7%;
    padding:5px 20px 5px 1px;
    /*text-shadow: 2px 3px 4px rgb(193, 202, 193);*/
    /*-webkit-box-shadow: inset -6px 2px 48px 20px #ccc;*/
    /*-moz-box-shadow: inset -6px 2px 48px 20px #ccc;*/
    /*-ms-box-shadow: inset -6px 2px 48px 20px #ccc;*/
    /*box-shadow: inset -6px 2px 48px 20px #ccc;*/
    border-bottom: 1px solid #f0f0f0;
}

/* .nav img{
    width:55px;
    height:55px;
} */
.container{
    width:100%;
    height:89%;
    font-size: 13px;
}
.aside{
    float: left;
    width:11%;
    height:100%;
    
}
.aside .userInfo{
    width:100%;
    height:6%;
    /* line-height: 28px; */
    padding:2px 10px;
    /*background: #ccc;*/
    /* -webkit-box-shadow: inset -1px 6px 44px 32px #ccc;
    box-shadow: inset -1px 6px 44px 32px #ccc; */
    border-bottom: 1px solid #f0f0f0;
    overflow:hidden ;
}

.aside .menu{
    width:100%;
    height:93%;
    padding: 5px;
    /*-webkit-box-shadow: inset 0px -16px 120px 19px #ccc;*/
    /*box-shadow: inset 0px -16px 120px 19px #ccc;*/
    overflow: auto;
    border-right: 1px solid #f0f0f0;
}
.r-aside{
    float: left;
    width:89%;
    height:100%;
}
.r-aside .path{
    width:100%;
    height:6%;
    padding: 6px 1px;
    /* -webkit-box-shadow: inset 0px -2px 20px 15px #ccc;
    box-shadow: inset 0px -2px 20px 15px #ccc; */
    /*background: #ccc;*/
    font-size:17px;
    font-weight: 300;
    color:#738196;
    border-bottom: 1px solid #f0f0f0;
}
.r-aside .login-out{
    margin-right: 6px;
    margin-top: 3px;
}
.r-aside .login-out a{
    color: #800000;
}
.r-aside .login-out a:hover{
    text-decoration: none;
}
.r-aside .login-out span{
    margin-left:20px;
    color: #000;
}
.r-aside .login-out span:hover{
    cursor: default;
    text-decoration: none;
}
.r-aside .content{
    width:100%;
    height:94%;
    padding: 5px;
}
/*
*底部版权声明
*/
/* .foot{
    clear: both;
    width: 100%;
    padding: 4px;
    text-align: center;
    -webkit-box-shadow: inset 0px -2px 33px 15px #ccc;
    box-shadow: inset 0px -2px 33px 15px #ccc;
} */
.path a:hover{
    text-decoration: underline;
}
.path label{
    display: none;
    margin-top: 11px;
}
.aside .userInfo a , .path span{
    color:#1090e6;
}
.aside .userInfo a:hover, .path span:hover{
    text-decoration: underline;
}

.logo{
    float: left;
    width:60px;
    height:60px;
}
.logo img{
    width:100%;
    height:100%;
    border-radius: 50%;
    background: url("../images/icon.png");
}
.logo-name{
    float: left;
    width: 209px;
    text-align: center;
    padding: 14px 0px;
}
.nav .out{
    margin-top: 16px;
    float: right;
    width:40px;
    height:40px;
    border-radius: 5px;
    background: url("../images/out.png") no-repeat;
    background-size: cover;
}

.user-logo{
    float: left;
    width:40px;
    height:40px;
    background: url("../images/user-logo.png") no-repeat ;
    background-size: cover;
}
.user-name{
    float: left;
    width:40px;
    height:40px;
    margin-left: 10px;
    padding-top:10px;
    font-size:17px;
    font-weight: 300;
    color:#738196;
}

.site-logo{
    float: left;
    width:27px;
    height:40px;
    background: url("../images/site.png") no-repeat ;
    background-size: 100% 100%;
}
.site-name{
    float: left;
    width:50px;
    height:40px;
    margin-left: 10px;
    padding-top:10px;
    text-align: center;
}


.clock-logo{
    float: right;
    width:40px;
    height:40px;
    background: url("../images/clock.png") no-repeat ;
    background-size: 100% 100%;
}
.clock-name{
    float: right;
    width:193px;
    height:40px;
    margin-left: 10px;
    padding-top:10px;
}

.all-option{
    float: left;
    /*margin-left: 20px;*/
    font-size: 12px;
    color:#738196;
    text-align: center;
    /*width:66%;*/
    height: 90%;
    /*max-width: 707px;*/
    width:1024px;

}
.all-option ul{
    list-style-type: none;
    height: 100%;
}
.all-option ul li:last-child::after{
    background: none;
}
.all-option ul li{
    position: relative;
    float:left;
    width:11%;
    height: 100%;
    padding: 5px 35px 5px 5px;
    cursor: pointer;
    margin-left: 50px;
}
.all-option ul li::after{
    display: block;
    content: '';
    position: absolute;
    left:100%;
    top:30%;
    width:1px;
    height:50%;
    background:#f0f0f0;
}
.all-option ul li img{
    display: block;
    width:100%;
    height:80%;
    margin-bottom: 5px;
}
.all-option ul li span:hover{
    color:#333;
}
.active{
    color:#008dfd;
}

