.login-view{
    width:400px;
    text-align: center;
    padding:20px;
    margin: 20px auto;
    /* background: rgba(255,255,255,.3); */
    background: transparent;
    font-size: 13px;
}
.login-logo{
    width:170px;
    height:160px;
    margin: 20px auto;
}
.login-logo img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.login-input-group{
    position: relative;
}
.login-input-group .tips{
    position: absolute;
    right:5px;
    top:30px;
    color: #f00;
    font-size: 14px;
}
.login-input{
    width:349px;
    height:57px;
    outline:none;
    border:none;
    padding-top:20px;
    font-size:14px;
    line-height: 30px;
    text-indent:20px;
    border-bottom:1px solid rgba(19, 165, 152, 0.98);
}
.login-btn{
    width:349px;
    margin:20px auto;
    text-align: center;
    color:#fff;
    padding: 13px 0px;
    background: rgba(32, 175, 23, 0.84);
    border:1px solid rgba(32, 175, 23, 0.84);
    border-radius: 3px;
    cursor: pointer;
    
}
.login-btn:hover{
    background: #15b723;
}
.login-tips{
    position: relative;
    width:100%;
    height:76px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}
.login-tips-other{
    position: absolute;
    bottom:-13px;
    left: 23%;
    color:#c0c0c0;
    background: #fff !important;
    background:rgba(255,255,255,.3);
}
.login-tips [type*=checkbox]{
    outline: none;
    width:15px;
    height:15px;
    margin-right: 5px;
    cursor: pointer;
}
/* .login-tips [type*=checkbox]::after{
    content: '记住我';
    display: inline-block;
    margin-left:20px;
    margin-top:-3px;
    width:50px;
    padding: 2px;
} */
.login-tips div{
    float:right;
    text-align: right;
    padding: 5px 5px;
}
.login-tips a{
    margin-left:10px;
}
.login-tips a:hover{
    text-decoration: underline;
}

.verifyCode{
    position: absolute;
    right:5px;
    top:17px;
}